.navbar-glicdefault {
  background-color: #95aeea;
  border-color: #c6e3f6;
}
.navbar-glicdefault .navbar-brand {
  color: #000000;
}
.navbar-glicdefault .navbar-brand:hover,
.navbar-glicdefault .navbar-brand:focus {
  color: #3b618d;
}
.navbar-glicdefault .navbar-text {
  color: #000000;
}
.navbar-glicdefault .navbar-nav > li > a {
  color: #000000;
}
.navbar-glicdefault .navbar-nav > li > a:hover,
.navbar-glicdefault .navbar-nav > li > a:focus {
  color: #3b618d;
}
.navbar-glicdefault .navbar-nav > .active > a,
.navbar-glicdefault .navbar-nav > .active > a:hover,
.navbar-glicdefault .navbar-nav > .active > a:focus {
  color: #3b618d;
  background-color: #c6e3f6;
}
.navbar-glicdefault .navbar-nav > .open > a,
.navbar-glicdefault .navbar-nav > .open > a:hover,
.navbar-glicdefault .navbar-nav > .open > a:focus {
  color: #3b618d;
  background-color: #c6e3f6;
}
.navbar-glicdefault .navbar-toggle {
  border-color: #c6e3f6;
}
.navbar-glicdefault .navbar-toggle:hover,
.navbar-glicdefault .navbar-toggle:focus {
  background-color: #c6e3f6;
}
.navbar-glicdefault .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-glicdefault .navbar-collapse,
.navbar-glicdefault .navbar-form {
  border-color: #000000;
}
.navbar-glicdefault .navbar-link {
  color: #000000;
}
.navbar-glicdefault .navbar-link:hover {
  color: #3b618d;
}

@media (max-width: 767px) {
  .navbar-glicdefault .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-glicdefault .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-glicdefault .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #3b618d;
  }
  .navbar-glicdefault .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-glicdefault .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-glicdefault .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #3b618d;
    background-color: #c6e3f6;
  }
}
