<head>   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 0px;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  </style>
</head>

<nav class="navbar" style="background-color:#0080ff;color:#fff" data-spy="affix" data-offset-top="197">
  <ul class="nav navbar-nav">
    <li class="active"><a href="http://glic.glycoinfo.org/">Glic Home</a></li>
    <li><a href="http://glic.glycoinfo.org/database/">Database</a></li>
    <li><a href="http://glic.glycoinfo.org/software/">Software</a></li>
    <li><a href="#">Wishlist List</a></li>
  </ul>
</nav>
