
<head>
<!-- CSS -->	
<style>

main {
margin-bottom: 200%;
}

.floating-menu {
font-family: sans-serif;
background: lightblue;
padding: 5px;;
width: 130px;
z-index: 100;
position: fixed;
}

.floating-menu a, 
.floating-menu h3 {
font-size: 0.9em;
display: block;
margin: 0 0.5em;
color: white;
}

.floating-menu.fixed {
    top: 0;
}
</style>

</head>

<!-- HTML -->

<nav class="floating-menu" style="left: 30px;">
<h3>Menu</h3>

<a href="http://glic.glycoinfo.org/" target="_blank">Glic Home</a>
<a href="http://glic.glycoinfo.org/database/" target="_blank">Database</a>
<a href="http://glic.glycoinfo.org/software/" target="_blank">Software</a>
<a href="http://glic.glycoinfo.org/wishList/" target="_blank">Wishlist</a>

</nav>

<script type="text/javascript">
(function($) {          
    $(document).ready(function(){                    
        $(window).scroll(function(){                          
            if ($(this).scrollTop() > 200) {
                $('.floating-menu.fixed').fadeIn(500);
            } else {
                $('.floating-menu.fixed').fadeOut(500);
            }
        });
    });
})(jQuery);
</script>
