
<head>
<!-- CSS -->	
<style>

main {
margin-bottom: 200%;
}

.floating-menu {
font-family: sans-serif;
background: lightblue;
padding: 5px;;
width: 130px;
z-index: 100;
position: fixed;
}

.floating-menu a, 
.floating-menu h3 {
font-size: 0.9em;
display: block;
margin: 0 0.5em;
color: white;
}
</style>

</head>

<!-- HTML -->

<nav class="floating-menu" style="left: 30px;">
<h3>Menu</h3>

<a href="http://glic.glycoinfo.org/">Glic Home</a>
<a href="http://glic.glycoinfo.org/database/">Database</a>
<a href="http://glic.glycoinfo.org/software/">Software</a>
<a href="http://glic.glycoinfo.org/wishList/">Wishlist</a>

</nav>
