<h2 style="color: #008B9B; text-shadow: 1px 0 0 #696969;">Welcome to the Glycoinformatics Consortium page!</h2>
<br>
<p style="margin: 0px -40px 80px;">A variety of databases in the glycoinformatics field has been developed in different countries as a result of glycoscience research projects. 
However, the usage of these developed databases has grown difficult because of the closure of databases that correspond to the ending of projects. 
The closure of databases has become an obstacle in glycoscience research. 
The Glycoinformatics Consortium is found to solve these obstacles and glycoinformaticians to develop databases and tools with a coalition. 
<br><br>
The purpose of Glycoinformatics Consortium(GLIC) is to provide and maintain a centralized source of software repository for the glycoscientists. 
In addition, it is aimed to be provided as a communication point for glycoscientists and glycoinformaticians.</p>
